<script>
  window.__INITIAL_STATE__ = { authorization: JSON.parse('<%= authorization %>'.replace(/&quot;/g,'"')),
    flash: JSON.parse('<%= flash %>'.replace(/&quot;/g,'"')),
    tour: JSON.parse('<%= tour %>'.replace(/&quot;/g,'"')),
    user: JSON.parse('<%= user %>'.replace(/&quot;/g,'"'))
  }
  window.__SETUP__ = { api: JSON.parse('<%= api %>'.replace(/&quot;/g,'"')),
    context: JSON.parse('<%= context %>'.replace(/&quot;/g,'"')),
    description: JSON.parse('<%= description %>'.replace(/&quot;/g,'"')),
    siteLabel: '<%= SITE_LABEL %>',
    socket: JSON.parse('<%= socket %>'.replace(/&quot;/g,'"'))
  }
</script>
